header {
    background-color: blue;
    padding-bottom: 20px;
    text-align: center;
}

 article {
     background-color: pink;
     max-width: 533px;
     padding-bottom: 15px;
     text-align: center;
 }

 section {
     background-color: red;
     max-width: 533px;
     padding-bottom: 75px;
     text-align: center;
     margin-bottom: 15px;
 }

 aside {
     position: absolute;
     left: 1093px;
     top: 63px;
     background-color: cyan;
     padding-bottom: 231px;
     width: 266px;
     max-width: 266px;
     text-align: center;
 }

 footer {
     text-align: center;
     background-color: green;
     padding-bottom: 10px
 }

 body {
     max-width: 800px;
     height: 800px;
     margin: auto;
     color: white;
 }

 ul {
     margin: auto;
     text-align: left;
     padding-bottom: 25px;
 }
 li {
     display: inline;
     background-color: green;
     padding-left: 10px;
 }

 nav {
     background-color: green;
     max-height: 25px;
     margin: auto;
 }

 a{
     color: white;
 }