.flex-container1 {
    display: -webkit-flex;
    display: flex;
    width: 760px;
    height: 30px;
    background-color: green;
    align-content: left;
}

.flex-item1 {
    background-color: lightgreen;
    width: 120px;
    height: 40px;
    margin: 3px;
}

.flex-container2 {
    display: -webkit-flex;
    display: flex;
    width: 534px;
    height: 250px;
    flex-wrap: wrap;
    background-color: pink;
    flex-direction: column;
    text-align: center;
}

.flex-item2 {
    background-color: red;
    width: 534px;
    height: 100px;
    text-align: center;
    margin-bottom: 15px;
}

ul.flex-container1 {
    list-style-type: none;
    margin: 0;
    padding-bottom: 25px;
    background-color: green;
    text-align: left;
}

ul.flex-container1 li {float: left;}

ul.flex-container1 li a {
    display: block;
    color: white;
    text-align: left;
    padding-left: 15px;
}


ul.flex-container1 li a.active {background-color: #4CAF50;}

ul.flex-container1 li.right {float: left;}

@media screen and (max-width: 800px){
    ul.flex-container1 li.right, 
    ul.flex-container1 li {float: none;}
}

body {
    max-width: 800px;
    height: 800px;
    margin: auto;
    color: white;

}

header {
    background-color: blue;
    padding-bottom: 20px;
    text-align: center;
}


aside {
    float: right;
    background-color: cyan;
    padding-bottom: 232px;
    width: 266px;
    max-width: 266px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: green;
    padding-bottom: 10px
}