header {
    background-color: blue;
    padding-bottom: 20px;
    text-align: center;
}

 article {
     background-color: pink;
     max-width: 533px;
     padding-bottom: 15px;
     text-align: center;
 }

 section {
     background-color: red;
     max-width: 533px;
     padding-bottom: 75px;
     text-align: center;
     margin-bottom: 15px;
 }

 /*aside {
     float: right;
     clear: both;
     background-color: cyan;
     text-align: center;
 }
*/
#box {
    background-color: cyan;
    text-align: center;
    float: right;
    width: 267px;
    height: 249px;
}
 footer {
     text-align: center;
     clear: both;
     background-color: green;
     padding-bottom: 10px;
 }

 body {
     max-width: 800px;
     height: 800px;
     margin: auto;
     color: white;
 }

 ul {
     margin: auto;
     text-align: left;
     padding-bottom: 25px;
 }
 li {
     display: inline;
     background-color: green;
     padding-left: 10px;
 }

 nav {
     background-color: green;
     max-height: 25px;
     margin: auto;
 }

 a {
     color: white;
 }